.custom-input-wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 24px;
  border-radius: 16px;
  width: fit-content;
  box-shadow: 0 0 0 1px #c0d1ea;
}

.input-label {
  font-weight: 500;
  margin-bottom: 8px;
}

.input-box {
  padding: 10px 12px;
  border: 1px solid #0070f3;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.input-box.error {
  border-color: #d93025;
}

.error-text {
  margin-top: 8px;
  font-size: 13px;
  color: #d93025;
}
